/* Anchor Navy(#344A5F), Primary Blue(#2A94D6), Slate Grey(#F0F1F2), White(#FFFFFF), Black(#000000) */

html {
    height: 100%;
}

body {
	
	background: rgb(52,74,95);
	/* background: linear-gradient(115deg, rgba(52,74,95,1) 31%, rgba(42,148,214,1) 72%, rgba(240,241,242,1) 100%); */
	/* background: linear-gradient(315deg, #1CB5E0 0%, #000851 100%); */
	background: linear-gradient(180deg, #3f51b1 0%, #5a55ae 13%, #7b5fac 25%, #8f6aae 38%, #a86aa4 50%, #cc6b8e 62%, #f18271 75%, #f3a469 87%, #f7c978 100%);
	/* background: url('../img/bg3.jpg'); */
	background-size: cover;
	/* height: 100%; */
    background-repeat: no-repeat;
    background-attachment: fixed;
	/*background-color: #344A5F;
	border: 4px; 
	border-style: solid; 
	border-color: #2A94D6;
	border-radius: 8px;*/
	padding-bottom: 24px;
}

h1 {
	text-align: center; 
	font-size: 48px; 
	font-style: bold;
	font-family: OneDay;
	color: #F0F1F2;
}

p {
	text-align: center; 
	font-size: 20px; 
	font-family: 'Arial';
	color: #FFFFFF;
}

canvas {
	border: 4px; 
	border-style: solid; 
	border-color: #F0F1F2;
	border-radius: 8px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	/* background-color: #2A94D6; */
	/* background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%); */
	/* border-radius: 8px; */
}

li {
	float: left;
	border-right: 1px solid #F0F1F2;
	/* border-bottom: 1px solid #F0F1F2; */
	border-radius: 16px;
}

li:last-child {
	border-right: none;
	border-bottom: 1px solid #F0F1F2;
}

li a, .dropbtn {
	font-family: OneDay;
	display: inline-block;
	/* color: #000000; */
	color: #F0F1F2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn{
	border-radius: 16px;
	/* background-color: #FFFFFF; */
	background: rgb(255,255,255);
	background: linear-gradient(270deg, rgba(255,255,255,0.16) 0%, rgba(240,241,242,0) 100%);
	/* color: #000000; */
	text-decoration: underline;
}

li.dropdown {
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	border-radius: 16px;
	background-color: #FFFFFF;
	min-width: 160px;
	/* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
	z-index: 1;
}

.dropdown-content a {
	color: #000000;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.dropdown-content a:hover {
	background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
	display: block;
}

@font-face {
	font-family: OneDay;
	src: url('../fonts/oneday.otf');
}

#bg1 {
	background: url(Adirondacks.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}